body{
	background-image: url("poeimages/backgroundpoe.jpg");
	background-position: top;
		margin: 0 auto;
	background-repeat: no-repeat;
	background-color: black;

}
a:link{
	text-decoration: none;
}

 
a.loglink:link{
	text-decoration: none;
	color: #0CABE5;

}

a.loglink:visited{
	text-decoration: none;
	color: #0CABE5;

}



a.loglink:hover {
color: #00D2FF;



}


.fixedwidth{
	margin: 0 auto;
	width: 920px;
	

}


#container{	padding: 0;
    
	background-image: url("poeimages/header.png");
	background-position: top center;
	background-repeat: no-repeat;
    margin: 0px auto;
    width: 1000px;
	height: 3000px;
	}

.break{
	margin: 0;
	clear: both;
}

#login{
float:left;
margin: 0;

}
#login ul{
	
margin: 0;
padding: 0;

}
#login li{
	
font-family: sans-serif;
	font-size: 12px;
	padding: 7px 0 0 10px;
	margin: 4px ;
	float: left;
	list-style: none;
}

#playfree{
	font-family: sans-serif;
	border:1px solid black;
	float: right;
background-color: #214301;
color: #AEFF03;
font-size: 10px;
margin: 60px 30px 40px 40px ;
padding: 2px 5px 2px 5px;

}


#navbarleft{
	
float:left;
margin: 0 auto;

}
#navbarleft ul{
	
margin: 0;
padding: 0;

}

#navbarleft li{
	color: #FEAB44;
	background-color: #581504;
	z-index: -1;
	position: relative;
	left: 40px;
     border-style: solid;
     border-color: white;
	font-size: 20px;
	padding: 5px 30px 5px 35px;
	margin-top: 22px;
	

	float: left;
	list-style: none;

}

#navbarright{
float:left;
margin: 0 auto;

}
#navbarright ul{
margin: 0;
padding: 0;

}

#navbarright li{
	color: #FEAB44;
	background-color: #581504;
	z-index: -1;
	position: relative;
	left: 150px;
     border-style: solid;
     border-color: white;
	font-size: 20px;
	padding: 5px 30px 5px 29px;
	margin-top: 22px;
	

	float: left;
	list-style: none;

}

/*HEADER CSS */

/*content LEFT CSS*/



 
#newspic{

	
	margin: 2px 0 0 0;

width: 99%;

padding: 0;
}
#worddiv{margin:0;
	padding: 0;
	clear: left;
}
#word1{
color: #FFD08C;
	font-size: 22px;
	
padding: 10px;
	margin: 0;
	float: left;
}


h3:link{
	color: #FFD08C;
}
h3:visited{
	color: #FFD08C;
}
h3:hover{
	color: white;
}

  h3{
  	
  	color: #FFD08C;
  	padding-left:30px;margin: 0;
  	padding: 3px;
  	}

#news1{
	clear: left;
	background-color: #0C0B0B;
	padding-bottom: 1px;
	width: 99%;
	float: left;
	margin: 0;
	padding-left:  1px;
	
	border: solid 1.5px #585858;
}

.date{
	color: #585858;
	
	float:right;
	font-size: 14px;
}
.spannews{
	font-size: 13px;
	font-family: sans-serif;
	color: #A38D6D;
margin: 0;
padding:3px;
float: left;
clear: both;
}

#news2{
	
	padding-bottom: 1px;
	width: 99%;
	float: left;
	margin-top: 10px;
	padding-left:  1px;
	background-color: #0C0B0B;

	border: solid 1.5px #585858;
	
}

#news3{
	background-color: #0C0B0B;
	padding-bottom: 1px;
	width: 99%;
	float: left;
	margin-top: 10px;
	padding-left:  1px;
	
	border: solid 1.5px #585858;
	
}

#archive{


margin: 0;
float: left;
width: 99%;
}

#awords{
	color: #585858;
	clear: both;
	padding: 3px;
float: left;

}

#sub{
color: #585858;
	padding: 3px;
float: right;

margin-bottom: 15px;
}



/*CONTENT RIGHT CSS--------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

#deal{

	padding: 3px;
margin:0;
float: right;


}

#contentleft{
	
	background-color: black;
	

margin: 0;
padding: 0;
width: 64%;
}

#contentright{
background-color: black;
float: right;

margin: 0;
padding: 0;
width: 36%;

}

#alienpic{
	
float: right;
padding: 0;
margin:0;
}

#upevents{
	color: #FFD08C;

float: right;
width: 87%;
margin-top: 15px;
}

#ev{
font-size: 30px;

}

#race1{
background-color: #0C0B0B;

	border: solid 1.5px #585858;
width: 87%;

float: right;
margin-top: 10px;
}

.racehead{
	color: #FFBD0E;
font-size: 20px;
font-weight: bold;
float: left;
padding: 3px 0 0 5px;
}

.raceinfo{
	padding: 0px 0 0 5px;
color: #A38D6D;
	float: left;
}

.racetimer{
	padding: 0px 0 3px 5px;
color: #585858;
	float: left;
}

#race2{
background-color: #0C0B0B;

	border: solid 1.5px #585858;
width: 87%;

float: right;
margin-top: 10px;
}

.racehead{
font-size: 20px;
font-weight: bold;
float: left;
}

.raceinfo{
color: #A38D6D;
	float: left;
}



#race3{
background-color: #0C0B0B;

	border: solid 1.5px #585858;
width: 87%;

float: right;
margin-top: 10px;
}

.racehead{
font-size: 20px;
font-weight: bold;
float: left;
}

.raceinfo{

	float: left;
}

.racetimer{

	float: left;
}

#lsdiv{

float: right;
width: 87%;
margin-top: 10px;
}

#lsname{
	color: #FFD08C;
font-size: 30px;

}

#stream1{
	float: right;
}

.streamtitle{
	color: #FFFFB5;
	
}
#views{
color: #7A6A2A;
	float: right;

}

#name{
	color: #7A6A2A;
	float: left;
}



#footer{
	
padding-right: 0px;
	margin-right: 0px;
	margin-bottom: -100px;
	position: relative;
	right: 21px;
	top: -30px;
}

#footerdiv{
 	
	

margin-top: -15px;


 }

#list1{
	margin-left: -25px;
float: left;
}

#list1 ul{
	color: #585858;
	list-style: none;
}

#list1 li{

	padding: 3px;
}

#list2{
margin-left: -25px;
float: left;
}
#list2 ul{
	color: #585858;
	list-style: none;
}
#list2 li{
	padding: 3px;
}



#list3{margin-right: 120px;
	margin-left: -20px;
float: left;
}
#list3 ul{
	color: #585858;
	list-style: none;
}
#list3 li{
	padding: 3px;
}


#list4{
	margin-left: 70px;
float: left;
}
#list4 ul{
	color: #585858;
	list-style: none;
}
#list4 li{
	padding: 3px;
}


#list5{
	margin-left: -25px;
float: left;
}
#list5 ul{
	color: #585858;
	list-style: none;
}
#list5 li{
	padding: 3px;
}


#list6{
	margin-left: -25px;
float: left;
}
#list6 ul{
	color: #585858;
	list-style: none;
}
#list6 li{
	padding: 3px;
}


hr{clear: both;}

#abcd{
	color: #585858;
}

a.racehead2:link{
	color: #FFBD0E;;
}

a.racehead2:visited{
	color: #FFBD0E;
}

a.racehead2:hover{
	color: #FFCD4B;

}